:root {
    --bg-violet-dark1: hsl(256, 26%, 20%);
    --bg-blue-gray: hsl(216, 30%, 68%);
    --bg-violet-dark2: hsl(270, 9%, 17%);
    --bg-violet-gray:  hsl(273, 4%, 51%);
    --bg-gray-light: hsl(0, 0%, 98%);
}


body {
    margin: 0;

    font-size: 16px;
    
} 

.container {
    position: relative;
    max-width: 1700px;
    margin: auto;
}
.container > div {
    padding:  0 10%;
    /* border: 2px solid blueviolet; */
    /* width: 100%; */
}



.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding: 1rem 0;

    position: relative;
    z-index: 343;

    background-color: var(--bg-gray-light);
    /* border: 2px solid yellow; */
}

.header-company-logo {
    font-weight: 600;
}

.header-links { 

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 600;
    font-family: 'Karla', sans-serif;
}

.header-links > ol {

    padding: 10px 10px;
    margin:  5px 10px;
    color: var(--bg-violet-gray);
}

.header-links > .header-plan {
    padding: 10px 25px;
    margin: 5px 0px 5px 20px ;
    border: 2px solid var(--bg-violet-dark2);
    text-transform: uppercase;
} 

.header-plan:hover {
    background-color: var(--bg-violet-dark1);
    color: var(--bg-gray-light);
    cursor: pointer;
}

.header-list:hover {
    cursor: pointer;
    color: var(--bg-violet-dark1);
}

.top-container {
    padding: 0 0 !important;
    color: var(--bg-gray-light);
    position: relative;
    /* border: 2px solid brown; */
    padding-bottom: 20rem !important;    
    height: auto    ;

}



.top-svg {
    position:absolute;
    bottom: 0 ;
    left: 0;
}


.top-display {
    background-color: var(--bg-violet-dark1);

    /* margin: 0 0 20rem 0;     */
    /* border: 2px solid black; */
    height: 37rem;
    padding: 0 10%;
    


}

.text-container {
    display: flex;
    /* flex-wrap: wrap-reverse; */
    /* grid-template-columns: auto 400px; */
    padding: 6rem 0;
    position: relative;
    z-index: 200;
}

.text-text {
    padding: 3rem 3rem 0 10px ;
    font-family: 'Karla', sans-serif;
    flex-shrink: 1.5;
    
}
.text-image {
    min-width: 300px !important;
    width: 100% !important;
    max-width: 540px ;
    /* border: 2px solid blue; */
    flex-shrink: 1.4;
}
.mobile-left {
    display: none;
}
.text-bold {
    font-size: 85px;
    font-family: 'DM Serif Display', serif;
    line-height: 0.9;
    font-weight: 400; 
     /*padding-bottom: 2rem; */
}
.text-descripition {
    font-size: 18px;
    font-weight: 400;
    padding-top: 2rem;
    line-height: 1.5;

}

.text-plan {
    border: 2px solid var(--bg-gray-light);
    text-transform: uppercase;
    padding: .7rem 2rem;
    font-size: 16px;
    margin-top: 20px !important;
    width: max-content;
    cursor: pointer;
}




.text-plan:hover,  .more-work:hover {
    background-color: var(--bg-gray-light);
    color: var(--bg-violet-dark1);
    cursor: pointer;
    
}



.text-image  img {
    color: yellow;
    width: 100%;

}






.more-title {
    /* border: 2px solid black; */
    padding: 4rem 0;
    font-family: 'DM Serif Display', serif;
    font-weight: 700;
    font-size: 72px;
    color: var(--bg-violet-dark2);
}

.more-detail {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
}

.more-image {
    padding: 1rem 0;
}

.more-name {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 36px;
    padding: 1rem 0;  
}

.more-description {
    font-family: 'Karla', sans-serif;
    font-size: 22px;
    color: var(--bg-blue-gray);
}

.more-about {
    margin: 10rem 0;
    padding: 4rem 4rem;
    border: 2px solid var(--bg-blue-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-violet-dark1);
    position: relative;
    overflow: hidden;
}

.more-svg img {
    position: absolute;
    right: 0;
    top: 0;
}

.more-about-work {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 62px;
    line-height: 0.9;
    color: var(--bg-gray-light);
}
.more-work {
    position: inherit;
    z-index: 23;
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    border: 2px solid var(--bg-gray-light);
    color: var(--bg-gray-light);
    padding: .7rem 1.5rem;
    
}

.svg {
    position: absolute;
    top: 1rem;
    right: 2px;
    z-index: 30;
    /* border: 2px solid var(--bg-blue-gray); */
}

.footer {
    background-color: var(--bg-gray-light);
    margin: 20rem 0 2rem 0;
    /* border: 1px solid indianred; */
    position: relative;
    overflow-x: hidden;

}

.footer-svg img {
    position: absolute;
    /* border: 2px solid green; */
    left: 0;
    top: 0;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--bg-violet-gray);
    padding-bottom: 2rem ;
    margin: 2rem 0;
    flex-wrap: wrap;
    position: relative;
    z-index: 200;
}


.social-media {
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
}

.media {
    margin: 10px;
}

.media > svg {
    color: var(--bg-violet-gray);
}
.media > svg:hover {

    color: black;

}


.footer-products {
    display: grid;
    grid-template-columns: auto auto auto auto;

    text-transform: uppercase;
    
    color: var(--bg-violet-dark2);
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    /* border: 2px solid gainsboro; */
    margin: 50px 0;
}

.footer-info {
   display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.footer-info > .info-top {
    color: var(--bg-violet-gray);
    margin-bottom: 2rem;
}



.footer-info > .info-bottom  {
    margin-bottom: 1rem;
}


.info-bottom:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 1440px ) {
    .text-bold {
        font-size: 77px;
    }
    .text-text {
        padding: 2rem 1rem 0 1px;
    }
    .container > div {
        padding: 0 5% ;
    }
    .svg {
        width: 30%;
    }

    .top-display {
        padding: 0 5% ;
        height: 34rem;
    }
 
   

}

@media (max-width: 1040px )  {
    .header-links > ol {
        margin: 5px 7px;
    }
    .text-text {
        padding-top: 0;
    }
    .text-container {
        padding: 3rem 0;
    }
    .text-bold {
        font-size: 50px;
    }
    .top-display {
        height: 25rem;
    }
    .more-image {
        padding: 0 0;
    }
    .more-title {
        padding: 2rem 0;
        font-size: 50px;
    }
    .more-name {
        font-size: 28px;
    }
    .more-description {
        font-size: 18px;
    }
    
    .more-work {
        font-size: 1rem;
    }
    
    .more-about {
        padding: 3rem 2rem;
    }

    .more-about-work {
        font-size: 40px;
    }
   
}



@media (max-width: 767px ) {
    .text-container {
        padding: 0 0;
    }
    .header {
        display: none;
    }
    .text-container {
        flex-wrap: wrap-reverse;
    }
    .svg {
        display: none;
    }
    .top-svg {
        display: none;
    }

    .mobile-left {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

    .text-text {
        position: relative;
        padding: 3rem 2rem;
        text-align: center;
    }
    
    .text-bold {
        position: relative;
        z-index: 300;
        font-size: 50px;
    }
    
    .text-image {
        width: 100% !important;
        max-width: 767px;
        margin: auto;
        padding: 0 0;
    }
    .top-display {
        padding: 0 0;
        height: max-content;
    }
    .conatiner > div {
        padding: 0 0;
    }
    .text-plan {
        margin: auto;
        
    }

    .more {
        padding: 0 2rem !important;
        text-align: center;
    }
  

    .more-detail {
        grid-template-columns: auto;
        row-gap: 40px;
    }

    .more-name {
        padding-top: .2rem;
    }

    .more-about {
        padding: 3rem 1rem;
    }
    .more-about-work {
        font-size: 34px;
    }
    .more-work {
        margin: 20px 18px;
    }

    .footer-svg img {
        content: url('images/bg-pattern-footer-mobile.svg');
    }
  
}

@media (max-width: 600px ) {
    .text-text {
        padding: 2rem 1rem;
    }

    .text-descripition {
        font-size: 1rem;
    }
    
    .more-title {
        font-size: 40px;
    }
    .more-about {

        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        padding: 5rem 1rem 1rem 2rem ;
    }
    .more-about-work {
        /* font-size: 30px; */
        padding: 3rem 1rem;
    }

    .more-svg img {
        content:url('images/bg-pattern-how-we-work-mobile.svg') !important;
    }

    .icon {
        width: 90vw;
        text-align: center;
        padding-top: 1.5rem;
    }

    .social-media {
        width: 100%;
    }

    .footer-products {
        grid-template-columns: auto;
    }

    .footer-info {
        margin-top: 30px;
        align-items: center;
    }
}


@media (max-width: 480px) {
    .text-bold {
        font-size: 40px;
    }
}